[2014-10-21 12:47] johanhalse opened #16 "Display number of items on scope tabs"
So that I can quickly get an overview of available items when navigating or filtering.

[2014-10-21 12:48] johanhalse opened #17 "Enable setting the name of the admin area to be shown in the top left, instead of Godmin"

[2014-10-21 12:49] johanhalse opened #18 "No association found error when misspelled value in attrs_for_form"
A bit misleading, because it was, in fact, a misspelled column

[2014-10-21 12:50] johanhalse opened #19 "Associations are not included in the default params permit hash"

[2014-11-11 12:37] jensljungblad opened #23 "Investigate alternative layout with sidebar instead of navbar"
Check examples at: http://getbootstrap.com/examples/dashboard/

[2014-11-13 09:25] jensljungblad opened #24 "Simple form conflicting configs"
When the main app has customised simple form to output some special markup, that same settings are carried over to the admin section.

Basically, we shouldn't trust simple form to render any form of wrapper markups for us.

[2014-11-13 12:18] jensljungblad opened #25 "Return 404 unless authenticated"
Consider failing with a 404 instead of 401 unless authenticated

[2014-11-14 07:56] jensljungblad opened #26 "Flash messages"
Flash messages are not being displayed after create, update and destroy. Check out the responders gem, which we need anyways for Rails 4.2 support: https://github.com/plataformatec/responders

[2014-11-14 08:13] jensljungblad opened #27 "Redirects after create and update"
We often want create and update to redirect to edit instead of show. Can this be made more easy using responders?

[2014-11-14 10:14] Linuus opened #28 "Clean up generators"
The generators are a bit messy

[2014-11-17 13:54] jensljungblad opened #30 "Consider namespacing batch action, filter and scope translations"
So that they wont conflict with any predefined strings.

[2014-11-17 15:40] jensljungblad opened #32 "Bump the test coverage a bit"
There are very few tests currently, mainly because we're unsure of how to test engine things. We should investigate and get on with it.

[2014-11-17 18:53] jensljungblad opened #33 "Authorization for batch actions"
I don't believe there is any currently.

[2014-11-17 18:58] jensljungblad opened #34 "Support Rails 4.2"
What is needed?

[2014-11-18 14:47] johanhalse opened #35 "Wrong Godmin dependency in README"
s.add_dependency("godmin", "~> 1.0.0")

Should be 0.9.0 or maybe something fuzzier like X.X.

[2014-11-19 09:35] johanhalse opened #38 "Retain a return_url when redirecting to login page"
If I try to administer /admin/users/1/edit for instance, I get sent to the login screen. On successful login I end up at the dashboard page at /admin, but expected page is /admin/users/1/edit.

[2014-11-20 08:14] jensljungblad opened #39 "In some cases, the wrong template is picked up"
If you place a file in `app/views/shared/_navigation.html.erb` it is picked up by Godmin. Probably not a good thing. Not sure why it doesn't pick up e.g. `app/views/articles/index.html.erb` as well?

[2014-11-21 09:17] #18 closed, assigned to nobody

[2014-12-05 13:34] #35 closed, assigned to nobody

[2014-12-09 12:20] #27 closed, assigned to jensljungblad

[2014-12-09 13:00] #26 closed, assigned to jensljungblad

[2014-12-15 09:49] jensljungblad opened #45 "Make the godmin js and css includable in application manifest files"
Instead of magically insert them into the layout

[2014-12-16 15:46] jensljungblad opened #46 "Create a tag field plugin"
We have one we can extract from another project, that is built using selectize. We should extract it and make a godmin plugin out of it.

[2014-12-17 10:32] jensljungblad opened #47 "Long option texts for select filters obscured by drop down arrow"

[2014-12-18 13:38] #45 closed, assigned to nobody

[2014-12-18 13:54] frederfred opened #49 "Remove sass-rails < 4.2 dependency"
sass-rails is now at version 5.0.0 and Godmin depends on sass-rails < 4.2. Would it be possible to remove the dependency of sass-rails < 4.2 and support version 5 as well?

Let me know if you need help to investigate!

[2015-01-07 09:10] #34 closed

[2015-01-07 09:49] jensljungblad opened #52 "Rethink form validation errors"
PR #50 introduces a new form system. This means we can easily do inline validation errors. Should we do that? How should it work?

Rails Bootstrap Forms have a number of options: `inline_errors`, `label_errors`, `alert_message` etc that can be leveraged.

[2015-01-07 10:01] #24 closed

[2015-01-07 22:19] #49 closed

[2015-01-13 10:59] jensljungblad commented on #30
Perhaps let the labels be on the root level and put everything else under buttons etc, if translating labels is the most common thing we do. Not sure.

[2015-01-13 11:00] jensljungblad commented on #17
Perhaps this should be done with a translation string? @Linuus

[2015-01-13 11:02] jensljungblad commented on #30
@Linuus I thought perhaps we should fix this before I go ahead and translate stuff for verbum.. What do you think?

[2015-01-13 13:03] Linuus commented on #17
@jensljungblad Well, one downside is that you must specify it for all your languages if you do it that way.

[2015-01-13 13:10] jensljungblad commented on #17
True. Is that a big problem you think? Guess it depends on how many languages you're using. My guess would be it's usually just one.

The alternatives are, I guess, either a config setting or a view partial.

[2015-01-15 09:24] johanhalse opened #54 "Some better way of specifying navigation"
Navigations can be kind of wordy today. Perhaps a YAML file by default would cover most cases?

[2015-01-15 09:27] johanhalse commented on #54
What about marking the active menu item, like we do for the default nav?

[2015-01-26 12:10] jensljungblad commented on #54
This could also potentially solve the problem of namespaced models. Currently the default navigation breaks down if there's a namespaced route for a namespaced resource. Just another reason to decouple the routing from the navigation.

[2015-01-26 12:11] jensljungblad opened #57 "Add support for namespaced models"
It's currently possible, but the generators do not support it. Also, the default navigation breaks down if there's a namespaced model in the godmin block. See #54.

[2015-01-27 13:36] #39 closed

[2015-01-27 15:24] jensljungblad opened #60 "Autoloading woes"
Some background: http://urbanautomaton.com/blog/2013/08/27/rails-autoloading-hell/

Basically, we're having some trouble with autoloading the `Admin::ApplicationController` constant when first accessing the frontend if the controller file looks like this:

[code]

Option 1.

[code]

Option 2.

Use some kind of require statement, such as `require_dependency` or something, in `admin/lib/admin.rb`

[2015-01-27 15:51] Linuus commented on #60
Option 1 seems to be the best way IMO.

Option 2 seems not to work. `require_dependency` is not available there and using `autoload` or `require` messes up class reloading in development...

[2015-01-28 07:27] jensljungblad commented on #60
Some problems with option 1:
- We have to rewrite all documentation
- We have to rewrite the generators
- We have to rewrite all existing apps
- There's nothing wrong with the code, only how Rails loads it

@Linuus could you try this? I still can't reproduce on my computer:

[code]

[2015-01-28 08:03] Linuus commented on #60
Rewriting the things won't be that hard. Search and replace :P

This is a Rails engine so I guess we should abide by the laws of Rails...  :)

[2015-01-28 08:23] Linuus commented on #60
Using `require_dependency "admin/application_controller"` in Engine seems to work. I don't know if it is better than just being more specific in the inheritance definition though.

[2015-01-28 08:28] jensljungblad commented on #60
I think it's better if we can solve this in godmin rather than require everyone to follow a certain coding style. It would need to be communicated, and then people would probably still forget about it. If we can solve it out of the box while supporting all coding styles, that seems better to me.

We could inject the require_dependency line with the install generator, for instance.

[2015-01-28 08:36] Linuus commented on #60
Inject for all controllers? I mean, the same issue will happen if you have

[code]

BarController will inherit from the wrong class if the load order is wrong.

[2015-01-28 09:26] jensljungblad commented on #60
https://github.com/rails/rails/blob/08754f12e65a9ec79633a605e986d0f1ffa4b251/railties/lib/rails/generators/rails/controller/templates/controller.rb

[2015-01-28 09:26] jensljungblad commented on #28
https://github.com/rails/rails/blob/08754f12e65a9ec79633a605e986d0f1ffa4b251/railties/lib/rails/generators/rails/controller/templates/controller.rb

[2015-01-29 14:43] #28 closed

[2015-01-29 14:44] #60 closed

[2015-01-29 14:45] jensljungblad commented on #57
Specifically, the resource generator does not support it. The thing missing is the route generation. It would be better if we could just hook into the default rails controller generator, but that means we need to nuke the godmin block in the routes file.

[2015-02-02 15:54] #46 closed

[2015-02-02 21:10] Linuus commented on #25
When not authenticated we return 302 and redirect to sign in. 404 and redirect is not possible. I don't think it really matters since we always return 302, regardless if the resource exists or not, we don't disclose any resource information.

If we want to be picky with the statuses, I think we should return 401 when not signed in (and not redirect, but render a sign in form), 404 if the resource

[2015-02-02 21:20] jensljungblad commented on #25
Yup, we might wanna do something with that NotAuthorizedError. I believe we do that because that's how Pundit works. It's of course ok for Pundit not to care about what happens after that error is thrown, but since Godmin is an application we should probably handle it somehow. But wouldn't a 401 be the correct code when not authorized?

[2015-02-02 21:24] Linuus commented on #25
It depends how careful you want to be. If you use 401 for unauthorized and 404 for not found you disclose information about the resources. You know there is a resource there because you get 401 and not 404. That's why Github returns 404 for private repos that you don't have access to, for instance.

[2015-02-02 21:29] jensljungblad commented on #25
Well yeah, not sure 404 would be the "correct" code, but probably better from a security perspective :) I'm all for it! But doesn't the 401 when not signed in also disclose the same information?

[2015-02-02 21:30] jensljungblad commented on #25
And that is probably the case we should worry about anyways, the not signed in one.

[2015-02-02 21:59] Linuus commented on #25
No 401 when not signed in does not reveal anything. Not in our case anyway since we return it for everything, even pages that does not exist (which returns 404 when signed in).

If you don't care about leaking information then the correct thing, I think, is

- User not authenticated -> 401

- Page not found -> 404

- User authenticated but not correct permissions -> 403

However, 404 can be used i

[2015-02-02 22:09] jensljungblad commented on #25
Ah true. Yeah not sure it's super important to hide information from already authenticated users. Although those guys from the lokalavdelningar are not to be trusted.

[2015-02-03 07:53] Linuus commented on #25
Haha yes but then we should return `403 Forbidden` I guess.

[2015-02-03 17:49] jensljungblad opened #65 "Can the namespace config parameter be removed?"
Can it be replaced with the some of the stuff done in the generators?

[code]

[2015-02-06 13:38] #25 closed

[2015-02-06 13:39] #16 closed

[2015-02-11 09:09] Linuus commented on #17
Perhaps we can use translation though. Isn't it possible to fall back to english if translation is missing? If so, it would be possible to specify a different name for different languages but have a fallback if you don't want to. If you only have one language you can just specify the name there. Right?

[2015-02-11 09:11] jensljungblad commented on #17
We could try! Should probably also print the title in the title bar of the browser.

[2015-02-11 10:55] #17 closed

[2015-02-11 14:00] #30 closed

[2015-02-13 09:03] johanhalse opened #71 "Selectize inputs don't resize when multiple options are selected"
Selectize defaults to just one line of selected items and if a user selects more options than can fit into that one line, they're invisible.

[2015-02-13 09:04] johanhalse commented on #71
Fixed with 53884c00768195e68428b8589abd04f3ef158845

[2015-02-13 09:04] #71 closed

[2015-02-18 09:22] jensljungblad commented on #32
I was thinking about some of the stuff we currently keep in the controller layer. When using godmin you define scopes, filters and batch actions in the controller. Would it make more sense to define them on the model? Would such files be easier for people to test? It makes it possible to test scopes, filters and batch actions without running controller tests.

Something like:

[code]

Thoughts abo

[2015-02-19 07:54] jensljungblad opened #77 "There needs to be a default show page"
Instead of the fate of this page

[2015-02-20 10:14] Linuus opened #78 "Investigate moving filters etc. to models"
Something like this:

[code]

[2015-02-20 10:15] Linuus commented on #32
@jensljungblad created a separate issue about this.
https://github.com/varvet/godmin/issues/78

I will investigate :sunglasses:

[2015-02-20 17:28] jensljungblad commented on #78
Some random thoughts

[code]

[2015-03-04 13:52] jensljungblad opened #80 "Error with dates in english locale for datepickers"
Try it on an `updated_at` column and see it :bomb:

This is because Rails cannot parse standard US dates which the datepicker generates.

[2015-03-04 13:52] jensljungblad opened #81 "Selectize filters are aligned incorrectly in the filters panel"

[2015-03-04 16:16] Linuus opened #82 "Document resource_params"

[2015-03-13 10:19] Linuus opened #83 "Upgrade selectize-rails to latest version"
Current version: 0.11.2
Latest version: 0.12.0

Changelog: https://github.com/brianreavis/selectize.js/releases/tag/v0.12.0
https://rubygems.org/gems/selectize-rails

[2015-03-16 13:29] Linuus opened #85 "Support nested resources"
Add support for nested resources
- Set parent resource in controller.
- Access to parent resource in service and policy.
- Routes and buttons.

[2015-03-17 10:58] Linuus opened #86 "CSV export"
Add support for CSV export from index pages.

[2015-03-17 11:14] mwq opened #87 "Don't add namespace twice"
The PolicyFinder adds the namespace twice if Godmin is namespaced under "Admin" and a model is namespaced under the same namespace (Admin::Foo).

The obvious example:
     PolicyFinder.find(Admin::Foo) => Admin::Admin::Foo

If ruby does it's magic it also lead to:
      PolicyFinder.find(Foo) => Admin::Admin::Foo

[2015-03-18 08:25] Linuus opened #89 "Use .new? to authorize new button"
Here: https://github.com/varvet/godmin/blob/master/app/views/godmin/resource/_button_actions.html.erb

We wrap the button with `policy(@resources).create?`. This is a bit weird since we pass it a collection. So, you need to be aware of that `record` in the `create?` method can both be a collection AND a single record.

What do you think about using `policy(@resource_class).new?` in the `button_act

[2015-03-18 12:51] Linuus opened #90 "Allow individual override of filters"
If you in the service specify a filter
[code]
Adding a template to `foo/filters/_blargh.html.erb` should override only that filter.

[2015-03-18 12:55] johanhalse opened #91 "Add link to godmin-redactor at bottom of README"

[2015-03-18 15:02] jensljungblad commented on #87
I think we should go with https://github.com/varvet/godmin/pull/92 for now, and hold off changing the actual policy finder. We need to think about if we want to diverge from how Pundit works. That could be a problem if we want to try and switch back to actually using Pundit.

[2015-03-18 15:03] jensljungblad commented on #91
Ping @kindell

[2015-03-18 15:05] jensljungblad commented on #89
I guess you mean `policy(@resource_class).create?` right?

[2015-03-18 15:15] Linuus commented on #89
Nope, I mean `.new?`

[2015-03-18 15:16] jensljungblad commented on #89
Oops, got confused. Changed to `.new?`

[2015-03-18 15:17] #91 closed

[2015-03-18 15:17] jensljungblad commented on #89
Though why would you be able to access new and then not create?

[2015-03-18 15:19] Linuus commented on #89
See my edited answer above.

We do have  a `.new?` method in the policy, why is it there if we never use it? :)

[2015-03-18 15:20] jensljungblad commented on #89
Hm yeah, but by default the godmin policy does this:

[code]

Wouldn't that break things as well? Unless you reimplement `new?` yourself.

[2015-03-18 15:21] Linuus commented on #89
Why would it break? We can keep the default new method to call `create?`.

[2015-03-18 15:22] jensljungblad commented on #89
Basically, if you implement `create` in such a way that it requires an instance of a record, such as your example above, the `new?` breaks unless you implement it yourself.

Shouldn't we do something like `policy(@resource_class.new).new?`

[2015-03-18 15:23] Linuus commented on #89
Yeah, that works too :)

[2015-03-18 15:25] jensljungblad commented on #89
Or should we do...

[code]

Haha..

[2015-03-18 15:27] Linuus commented on #89
Oh god... :anguished:

Yeah maybe that's a better idea.

[2015-03-18 15:27] jensljungblad commented on #89
I'll try it out

[2015-03-18 15:29] jensljungblad commented on #89
Fixed in the PR

[2015-03-23 09:21] jensljungblad commented on #87
Merged #92 so now it's possible to override the policy class. We should think about if we still want to do this. If we do, we should probably fix this not only for policy classes but for service objects and models as well.

[2015-03-23 09:33] #32 closed

[2015-03-23 09:33] #78 closed

[2015-03-23 09:42] #89 closed

[2015-03-24 08:44] #90 closed

[2015-03-25 13:38] jensljungblad commented on #83
@kindell did you start working on this?

[2015-03-25 14:31] kindell commented on #83
Yes. Can put it in a PR.

—
Sent from Mailbox

On Wed, Mar 25, 2015 at 2:38 PM, Jens Ljungblad <notifications@github.com>
wrote:

[2015-03-25 14:33] #82 closed

[2015-03-25 14:46] jensljungblad commented on #80
https://github.com/Eonasdan/bootstrap-datetimepicker/issues/941

[2015-03-26 15:19] #83 closed

[2015-04-10 13:21] #47 closed

[2015-04-10 13:21] #81 closed

[2015-04-14 07:22] jensljungblad commented on #80
Perhaps we should do a similar workaround instead: https://github.com/TrevorS/bootstrap3-datetimepicker-rails/issues/28#issuecomment-92595864

[2015-04-14 07:38] jensljungblad commented on #80
@Linuus what do you think? Pursue some kind of solution in the datepicker itself or do a workaround on our side?

[2015-04-15 13:19] Linuus commented on #33
One method per batch action in policy :dancer:

[2015-04-16 13:20] #33 closed

[2015-04-17 09:01] #77 closed

[2015-04-17 11:49] Linuus opened #102 "Hide action menu if empty"
The new Action menu should not show up if it is empty because it looks broken :)

![skarmavbild 2015-04-17 kl 13 48 44](https://cloud.githubusercontent.com/assets/379823/7201527/7d4a97a4-e508-11e4-8c54-1b61c72e148c.png)

[2015-05-06 14:32] Linuus opened #104 "Template inheritance when inheriting controllers"
If I have this:
[code]

If I go to `Bar#new`, shouldn't Foo's `_form` partial be rendered? Currently it renders the godmin default partial. Is that the correct behavior?

[2015-05-07 14:35] #102 closed

[2015-05-20 13:40] #86 closed

[2015-05-21 09:56] #19 closed

[2015-06-17 14:22] jensljungblad opened #109 "Translation order when running within engine"
Seems to be a problem with overriding built in translations from an engine. In one project, it appears the admin engine is loaded after godmin, which means its translations are down prioritized. Had to add this to application.rb:

[code]

[2015-06-22 08:48] #54 closed

[2015-06-23 12:44] #65 closed

[2015-06-24 12:31] jensljungblad opened #112 "Document export functionality"
Write documentation about csv and json export functionality

[2015-06-24 12:33] #80 closed

[2015-06-24 12:45] #112 closed

[2015-06-24 13:06] jensljungblad opened #113 "Clean up the welcome page"
Links aren't working, but perhaps they should not be there in the first place. Also look at copy and such.

[2015-07-17 13:46] #113 closed

[2015-08-26 13:50] jensljungblad opened #122 "Add support for model inheritance in admin module"
So that you can do

[code]

And have that class automatically picked up and used. Currently it seems the `ResourceService#resource_class_name` method needs to be fixed to support this.

[2015-08-26 13:50] jensljungblad commented on #122
@mwq if you find other stuff that breaks, post it here!

[2015-09-07 09:57] Linuus opened #124 "Broken sorting in tables"
Two issues

1. When attribute has an underscore such as `created_at` the direction is not flipped.
2. When filter is used the sorting link looses the direction, like `order=title_` instead of `order=title_desc`

[2015-09-07 09:58] #104 closed

[2015-09-07 09:59] jensljungblad commented on #124
Let's add an integration test for this!

[2015-09-07 09:59] Linuus commented on #124
I'm on it

[2015-09-07 12:03] #124 closed

[2015-09-08 08:26] jensljungblad commented on #57
Everything is in place for this to be implemented.

[2015-09-10 08:33] Linuus opened #127 "Wrong namespace when in install generator"
I just created an engine called `newsletters` which gives me paths like
`newsletters/app/controllers/newsletters/application_controller.rb`

When I run `godmin:install` it gives me this output:
[code]
The issue seems to be that it looks in the folder `app/controllers/__newsletter__/...`
`newsletter` should be `newsletters`. Right?

[2015-09-10 09:11] Linuus commented on #127
I added a test to our `EngineWrapper`
[code]
This means that the `EngineWrapper#namespaced_path` messes things up. `.classify` also singularizes the string.
:-1:

[2015-09-17 13:04] #127 closed

[2015-09-17 17:20] jensljungblad opened #129 "Batch actions break when navigating between scopes"

[2015-09-18 06:57] jensljungblad commented on #129
This is caused when turbolinks is enabled, which is it is if you're installing Godmin into a regular app. How should we deal with this?

1. Remove turbolinks from the javascript manifest when installing godmin
2. Enable turbolinks support in godmin

[2015-09-18 07:05] Linuus commented on #129
Of course Turbolinks screws things up :disappointed:

I say remove Turbolinks when installing.

[2015-09-18 07:08] jensljungblad commented on #129
Yeah perhaps for now. It would probably be easy to enable it though, we're not really doing anything fancy in the javascripts. But not super crucial I guess.

[2015-09-18 07:37] #129 closed

[2015-10-07 17:50] Linuus opened #132 "Override datepicker locale"
This commit: https://github.com/varvet/godmin/commit/3ca5e0774bb198405b63bf8573b5abb652eb538d
Which defaults the datepicker locale to en-GB makes it impossible to override the used locale.

It does not care if I add `moment/sv` in my application.js.

I've seen this issue on multiple applications.

I guess the issue is that we need to require the moment/locale file before the datepicker (which is r

[2015-10-07 20:08] jensljungblad commented on #132
What if you require moment/sv after godmin?

[2015-10-07 20:10] Linuus commented on #132
It doesn't work because we need to require it before the datepicker and
godmin requires that.

ons 7 okt. 2015 kl. 22:08 skrev Jens Ljungblad <notifications@github.com>:

[2015-10-16 08:16] #132 closed

[2015-11-13 14:16] anderscarling opened #139 "Exceptions while rendering templates in gem causes Template Missing errors"
Basically `Godmin::Resolver `returns Template instances with a `virtual_path` property that can't be used to lookup the template again (basically the full path to the file, except file extensions).

When the Template is compiled it will discard it's source to save memory, thus relying on the `virtual_path` for looking it up if an exception is thrown during its execution. The source is loaded back

[2015-11-20 15:01] benjamin-thomas opened #145 "Engine: Devise/AdminUser class conflict"
First congratulations for this gem. It's a joy to use and I love the design - awesome!!

The plugin generator `godmin:authentication` spits out this method:

[code]

If one already has a class defined in the main app, the wrong class will be returned here:
https://github.com/varvet/godmin/blob/e0d7fbe81fa225f9f45c7917b461c41fd8f57e23/lib/godmin/authentication/sessions_controller.rb#L11

Thus the n

[2015-11-21 14:02] jcampbell05 opened #147 "SQL"
Do I need to use ActiveRecords for this or is it agnostic ?

[2015-11-23 08:40] jensljungblad commented on #145
Thanks! Glad to hear you like it.

Agreed, this is a bug. The generator should be fixed so that it prefixes the class with the namespace if present. Shouldn't be hard to fix. If you want to send a PR, you're welcome to assign yourself to this issue.

[2015-11-23 08:42] jensljungblad commented on #147
Yeah it's AR only for the time being. We haven't personally had any other use cases yet. What libs would you like supported?

[2015-11-23 08:42] benjamin-thomas commented on #145
Sure I'll have a look.

I'm not familiar with the rails generators API. Anything I need to know apart from what's available in the [rails guide?](http://guides.rubyonrails.org/generators.html)

[2015-11-23 08:50] jensljungblad commented on #145
Nah, that should be enough. This is the file you want to change: https://github.com/varvet/godmin/blob/master/lib/generators/godmin/authentication/authentication_generator.rb#L36

And these are our own base classes:
https://github.com/varvet/godmin/blob/master/lib/godmin/generators/base.rb
https://github.com/varvet/godmin/blob/master/lib/godmin/generators/named_base.rb

You want to look at the nam

[2015-11-23 08:52] jensljungblad commented on #145
Also, sorry to say we don't have any tests for the generators, we're gonna look into that eventually. It's a bit of a hassle now to test that things work both for engine installs and non-engine installs.

[2015-11-23 09:00] #139 closed

[2015-11-23 09:47] kindell opened #148 "Support belongs to associations when specifying attrs_for_form"
When a reference is specified in `attrs_for_form`the correct variable isn't defined in `permitted_params`.

The workaround is to add your own `resource_params` in the resource controller like this: https://github.com/varvet/godmin-sandbox/blob/master/app/controllers/articles_controller.rb#L7

There must be a more beautiful way of solving this.

[2015-11-23 10:32] jcampbell05 commented on #147
We are working with Firebase but I realise this may not be easy to do, so a NO-SQL Layer may be easier.

[2015-11-23 13:07] #148 closed

[2015-11-23 22:41] benjamin-thomas commented on #145
Got you.

Could you review my proposed change? I manually tested the generators with a standalone app and an engine.

[2015-11-24 08:29] jensljungblad commented on #145
Looks good to me, you wanna open a PR?

[2015-11-24 19:03] benjamin-thomas commented on #145
Done, thanks for the heads up!

[2015-11-24 19:27] benjamin-thomas opened #151 "batch_action methods param should be an ActiveRecord::Relation object, not an array of ActiveRecord::Base objects"
In order to be consistent with the filter API, more flexible, and allow more performance, I think this should be considered.

Right now the following code generates 30 queries (for 30 ids selected)

[code]

Whereas this one would generate just one

[code]
What do you think? With a relation object, one could still loop over the collection, if that's required.

[2015-11-24 22:51] anderscarling commented on #122
I  do this by overriding `ResourceService#resource_class` and providing a `Admin::ModelName.policy_class`.

[2015-11-24 22:56] anderscarling commented on #87
Maybe Policy lookup should be based on Service object name/namespace instead of model?

I kinda feel like the Policy is so tightly coupled to the service it would kinda make more sense. It would also make #122 a bit more straight forward.

[2015-11-24 22:57] anderscarling commented on #151
:+1:

[2015-11-24 23:11] anderscarling opened #152 "Add support for order_by method override"
As of 1.0, if I add a field backed by a calculated property (i.e. an ordinary method) it's not possible to sort the index view based on that field. That's of course understandable as the only way to automatically do that would be to load the full data set into memory, sort and then discard all the data not needed due to pagination.

However I suggest allowing `ResourceService` implementing an orde

[2015-11-24 23:40] anderscarling opened #153 "Add custom single row actions"
I propose adding an API for custom action buttons next to the Show/Edit/Delete buttons.

Proposed API, based of the `batch_action` API:
[code]

 I feel `resource_action` might be a clearer name than the shorter `action`, but there is some risk of conflict/misunderstanding with `ResourceService#resource_class`, ResourceService#resource_find` etc.

Would anyone else find this useful?

[2015-11-25 00:10] anderscarling opened #154 "Opinions about ajax in godmin?"
I have a case where ajax powered batch actions (and resource actions, #153) would be really nice to have, as the data set presented is quite slow and obviously there will be cases where data just can't be cached or pre-calculated.

What is the opinion about ajax in godmin, is there as philosophical reason it's not there or would it be a welcome addition?

I think it should be quite straightforward

[2015-11-25 08:06] Linuus commented on #153
@anderscarling You can just override the `your_resource/columns/_actions.html.erb` partial to add another button that does whatever you want.

Would that solve the same issue or did I misunderstand?

[2015-11-25 08:22] jensljungblad commented on #151
First problem is we run `find` on an array of ids, which returns an array and not a relation. Mainly because we wanted it to raise an error if the id didn't exist. We could probably replace that with a `where` instead.

Second problem is this part:

[code]

Basically we run each record through the authorization policy, if authorization is enabled.
The code above filters out those records you are n

[2015-11-25 21:19] anderscarling commented on #153
Of course, that's what I'm doing now. That only gives you the button though, you still have to set up custom controller actions and whatnot.

It feels like something useful enough to provide support for through godmin though, just like batch_actions, so I created this ticket to check if anyone else felt would be a nice addition.

If you feel it would be nice to have, i'll probably look into implem

[2015-11-25 22:40] benjamin-thomas commented on #151
Got you. Haven't had a change to play with the policy object yet, but I may have a suggestion.

If the policy object looked like this:
[code]

Then you could do something along those lines:
[code]

Would that be granular enough?

[2015-11-26 13:00] #145 closed

[2015-11-26 13:08] Linuus commented on #153
I don't think we will implement this at the moment. It is easy enough to override the view and just add the action to your router/controller in regular Rails fashion.

[2015-11-26 13:08] jensljungblad commented on #147
NoSQL would be cool, but we don't have any such projects currently. If someone wants to look into it feel free!

I think it could be doable, but perhaps all features would not be available. I'm not sure how good NoSQL gems integrate with forms and associations for instance.

[2015-11-26 13:08] #147 closed

[2015-11-26 13:14] jensljungblad commented on #153
If you find you need this, it would be cool to see if you could add your own DSL from your app, and try it out. Something like this:

1. Create a `ResourceService` class, that you inherit from, and add the macro methods you need.
2. Override `resource/columns/_actions.html.erb`, which will override the partial for all resources, and print your buttons.

Could be a good test to see how extensible t

[2015-11-26 13:49] jensljungblad commented on #152
I like it.

Perhaps pass it a direction parameter instead?

[2015-11-26 15:18] anderscarling commented on #152
Maybe passing `:asc` or `:desc` as a `direction` param?

That way you could just to_s the param into sql or do whatever you want with it in code.

[2015-11-26 21:54] benjamin-thomas opened #156 "Access url params at the service object level ?"
I'm not sure if this is a great idea, but I'm used to override a page's behavior by tweaking the url.

For instance let' say I have a `per_page` method defined in a service class:

[code]

I'd like to optionally override this behavior, via the url:

[code]

Right now this seems impossible, the params hash get's left behind at the service object initialization [right here](https://github.com/varvet

[2015-11-26 22:19] benjamin-thomas opened #157 "UI: batch_actions: easier selection"
Right now clicking on the checkbox (search/index) is more difficult than it could be.

One quick improvement would be to add this jquery snippet.

[code]

Then one could click on the checkbox, or the white space surrounding it to toggle its state.

Or maybe clicking on the row, or clicking on the row with the control key?

[2015-11-27 07:31] jensljungblad commented on #152
Yeah exactly

[2015-11-27 08:43] benjamin-thomas commented on #152
This would allow one to sort the `Author` column [demoed in the sandbox](http://godmin-sandbox.herokuapp.com/) right? (Defined [here](https://github.com/varvet/godmin-sandbox/blob/master/app/services/article_service.rb#L4))

Sounds great! Although I'd avoid string interpolation, just in case.

[2015-11-27 18:30] anderscarling commented on #152
@benjamin-thomas That's the idea.
I agree that string interpolation feels scary though, but in that spirit I did some googling.

ActiveRecord actually provides a way to reverse a predefined sort order, so if we only require the `order_by_FIELDNAME` method to implement forward sort. Then could just flip the resulting sort with [`ActiveRecord::QueryMethods#reverse_order](http://api.rubyonrails.org/c

[2015-11-27 21:26] benjamin-thomas commented on #152
Yeah the problem with `reverse_order` is that it can do too much.

For instance let's say I want to (always) list the latest articles, but prioritizing the early joined authors:

[code]

Calling `reverse_order` on that relation object is going to flip the order of **all** the columns (not expected).

What I meant earlier is that the string interpolation make me feel uneasy because I can't see the

[2015-11-30 10:07] benjamin-thomas opened #161 "Multiselect filter sends invalid array item"
If I select 2 items with ids 1 and 2 in my list

[code]

Not a big deal but the query above will be translated to:

[code]

The NULL value will in fact be ignored, but it should really be filtered prior to being received by the filter method.

[2015-11-30 10:33] benjamin-thomas opened #162 "filter with checkboxes seems not implemented"
Mentioned in the README: https://github.com/varvet/godmin#filters

    There are four types of filters: string, select, multiselect and checkboxes, specified using the as parameter.

It seems like this feature is not implemented?

https://github.com/varvet/godmin/blob/af140c79413a6f02ac634aa1864000174d58b839/lib/godmin/helpers/filters.rb#L14

[2015-11-30 23:40] benjamin-thomas opened #165 "Ajax filters / linked filters"
It'd be nice to have ajax filters (select tags) for cases where the dataset is large.

This is roughly what I have in mind:
https://github.com/varvet/godmin/compare/af140c79413a6f02ac634aa1864000174d58b839...benjamin-thomas:ajax-filters-spike

It's not even half baked, although the ajax query (hard coded) did work.

 I don't really understand the existing js structure (`initializeState` and `initi

[2015-12-01 17:17] jensljungblad commented on #154
We haven't really given it much thought. I say it's worth to discuss it. This one is perhaps related as well: https://github.com/varvet/godmin/issues/165

One thing with batch actions is that they can have redirects. We often redirect to a different scope after a batch action for instance. That's a bit tricky with ajax.

[2015-12-01 17:23] jensljungblad commented on #156
We've had some issues with this as well, when we needed to access some kind of special param in a service object method but couldn't access it. We've debated before just passing the params to the service object at initialization but I guess we felt we broke encapsulation a bit. But I agree that it's a problem.

We've solved it before by doing something like this in the controller:

[code]

@Linuus

[2015-12-01 21:59] benjamin-thomas commented on #156
Thanks for the workaround.

Have you thought about making it the service's responsibility to declare it's dependencies at initialization? That way you would give full control back to the programmer?

Something roughly like this:

[code]

[2015-12-01 22:13] benjamin-thomas commented on #156
Actually scratch that, I was a bit worried about having to override the admin_user logic, but this seems perfectly reasonable to me:

[code]

What do you think?

[2015-12-02 08:09] jensljungblad commented on #156
Yeah that's better than what I wrote. Perhaps we should just add a note to the README about this.

[2015-12-02 08:09] jensljungblad commented on #154
@johanhalse you wanna be part of discussing this?

[2015-12-02 08:11] jensljungblad commented on #152
@anderscarling if you feel like giving this a go, feel free to open a PR!

[2015-12-02 08:17] jensljungblad commented on #161
Hm yeah I remember this. We've done something like this before:

[code]

Not sure why we didn't filter it before passing the value to the filter method. @Linuus you remember?

[2015-12-02 08:40] jensljungblad commented on #162
Correct, we had it once but removed it because we never used it. I'll fix it in the README.

[2015-12-02 08:40] #162 closed

[2015-12-03 15:19] jensljungblad commented on #109
Haven't been able to reproduce so I'll close this

[2015-12-03 15:19] #109 closed

[2015-12-03 15:29] Linuus commented on #161
I don't know if we should filter blank items by default. Maybe it is actually useful in some case to have blank items? Or do I misunderstand?

We should check why it returns an empty item at all though.

[2015-12-04 10:23] benjamin-thomas opened #166 "Handling of nested resources"
Are there any plans or intentions to handle nested routes by default?

Meaning we could have better default breadcrumbs, action buttons, etc. for that use case.

[2015-12-04 12:19] #151 closed

[2015-12-04 12:31] jensljungblad commented on #166
There's an open issue about it: https://github.com/varvet/godmin/issues/85

We've kinda implemented this on a project level but haven't had time to extract it yet. It's something we would like to do eventually.

[2015-12-04 12:31] #166 closed

[2015-12-04 12:46] jensljungblad commented on #156
Added a note in the readme about this.

[2015-12-04 12:46] #156 closed

[2015-12-04 13:51] benjamin-thomas commented on #161
Right, I didn't realize this was a rails default.

A solution could be to accept an html_options hash to mirror the rails API?

Or just document the fact that this is the default/intended behavior, because selecting 2 items and having 3 fed into the method is counter intuitive IMO.

[2015-12-04 14:01] benjamin-thomas commented on #85
@jensljungblad sorry about the duplicate issue.

Are you ok with suggestions? I'm going to need this so I'd rather propose some changes rather than building my own workarounds.

[2015-12-04 14:03] jensljungblad commented on #85
That would be cool. We could probably post some of the stuff that we did in order to support this.

[2015-12-06 22:40] anderscarling commented on #152
@jensljungblad I don't have time to do it right now, but I'll try to get it done during the holidays.

I'll give notice here before I start building, so if anyone else want's it faster than my time allows, feel free to go ahead (but drop a note here before you start as to make sure we don't do the work twice).

[2015-12-07 12:30] jensljungblad commented on #152
Sounds good to me :+1:

[2015-12-11 15:03] Linuus commented on #152
I'll take a look at this :fist:

[2015-12-14 13:48] Linuus commented on #161
@benjamin-thomas Do you actually get the empty item in your `filter_*` method?

It think it should be filtered out here:
https://github.com/varvet/godmin/blob/master/lib/godmin/resources/resource_service/filters.rb#L22-L25

It would be better to fix the root cause though and remove that code :)

[2015-12-14 16:58] ThomasConnolly opened #170 "Can't install"

[2015-12-14 21:31] benjamin-thomas commented on #161
@Linuus yes that's right, a "bogus" empty item is always fed to the filter_* methods right now, once  one or more items have been selected.

[2015-12-14 22:24] #170 closed

[2015-12-15 15:18] #152 closed

[2015-12-15 16:31] raecoo opened #171 "Authentication with Devise failed"
I’ve followed the __Shared Authentication__ section to integrate with __Devise__ then encountered these errors:

[code]
When I change the method `authenticate_admin_user` like

[code]
to skip this error, and then another error occurs.

[code]
Do I missing something?

[2015-12-15 16:34] raecoo commented on #171
Is there a full example of authentication integration with devise?

[2015-12-15 16:35] raecoo commented on #171
@jensljungblad  Is there a full example of authentication integration with devise?

[2015-12-15 16:45] jensljungblad commented on #171
Weird. The `authenticate_user!` method is added to `ActionController::Base` by Devise. So it should be defined. Try running `included_modules` on your Godmin controller and see if its being included.

[code]

You should see `Devise::Controllers::Helpers` etc.

[2015-12-15 16:48] jensljungblad commented on #171
Sorry, no complete examples online, but we have projects where we do this. They're running Devise 3.4.1. What version are you on?

[2015-12-15 23:30] raecoo commented on #171
@jensljungblad Devise 3.5.2

[2015-12-15 23:42] raecoo commented on #171
[code]

[2015-12-16 05:55] raecoo commented on #171
@jensljungblad The problem has been resolved. I will add a guide [How to integration access authentication with Devise](https://github.com/varvet/godmin/wiki/How-to-integration-access-authentication-with-Devise) in Wiki.

[2015-12-16 21:35] jensljungblad commented on #171
Hey. Looked at what you wrote and all of that should definitely not be necessary. Seems like something is wrong. I'll post our setup when I have some time, but basically it should be enough to do what is written in the readme.

[2015-12-16 21:59] jensljungblad commented on #85
Sorry, forgot about this one. This is how we currently do it:

[code]

Then we override the breadcrumb partial for blog posts and print the `@blog` there as well.

This piece of code could come in handy as well. It basically finds the parent model from the params:

[code]

Some things to think about:

* What should the interface look like? How do you go to the nested resource index page? If we hav

[2015-12-16 22:16] jensljungblad commented on #87
@anderscarling Hm, interesting idea. But that would probably mean we would need to change the authorization interface, which now mimics that of Pundit. Originally the plan was to use Pundit but we had to build our own policy lookup because the policies and the models can be in different namespaces, say an `Article` and an `Admin::ArticlePolicy`.

If I understand you correctly you would suggest pas

[2015-12-17 00:41] raecoo commented on #171
something is wrong?
Jens Ljungblad <notifications@github.com>于2015年12月17日 周四上午5:56写道：

--
Best

Raecoo Cao
--
Send from my phone

[2015-12-17 08:17] raecoo commented on #171
I've removed the wiki page. :)

[2015-12-17 08:17] #171 closed

[2015-12-18 07:46] benjamin-thomas commented on #85
Thansk @jensljungblad and sorry for the late reply.

I'm very busy at the moment so I'll post my ideas in a few days.

[2016-01-21 15:45] PuGGee opened #173 "Support active_resource"
Are there any plans for godmin to support active_resource in the future? Currently, it seems that a lot of hacks are required if you want to use both at the same time.

[2016-01-21 15:52] Linuus commented on #173
I've never used [active_resource](https://github.com/rails/activeresource). What kind of hacks do you need today? If it has the same API as ActiveRecord it should work pretty well.

[2016-01-25 08:04] Linuus commented on #173
@PuGGee I had a quick look at this and there are quite a lot of stuff breaking at the moment (pagination etc). I don't think we will build in compatibility for this unless we need it ourselves. However, if someone wants to draw up a PR for this we are happy to take a look at it. :)

Do you have any other input here @jensljungblad?

[2016-01-27 14:55] anderscarling opened #174 "Rails 4.2.5.1 broke godmin"
Seems like rails 4.2.5.1 broken `Godmin::Resolver`. Would guess the fixes for [CVE-2016-0752](https://groups.google.com/forum/#!topic/rubyonrails-security/335P1DcLG00) (Possible Information Leak Vulnerability in Action View) is the cause.

[code]

[2016-01-27 15:07] anderscarling commented on #174
[code]

The added param is `outside_app_allowed`, and unless its `true` it basically tacks on a filter inside `ActionView::PathResolver` that makes sure that the resolved path exists inside the @path variable that's assigned through `PathResolver`s initializer. The common case is of course that @path is `File.expand_path(Rails.root.join("app/views"))`.

[2016-01-27 15:20] anderscarling commented on #174
I'm quite sure it should be OK to just pass along the param through `Godmin::GodminResolver` and `Godmin::EngineResolver`, but that would of course break backwards compatibility when trying to call super with 1 arg to much.

Do you have an nice strategy for handling compatibility in this kinda of issues?

The ugly quick fix kinda sucks..
[code]

[2016-01-27 15:33] anderscarling commented on #174
Rolled up ugly fix in f3a258ad45 if anyone else feels urgent need to have both security patches and godmin, while a nicer fix is being worked out.

[2016-01-28 09:08] jensljungblad commented on #174
@anderscarling How about

[code]

[2016-01-28 12:27] anderscarling commented on #174
Yeah, that seems like the way to go about it. :)

[2016-02-01 10:30] #173 closed

[2016-02-02 13:12] #174 closed

[2016-02-02 13:21] jensljungblad commented on #174
Released a new version with a fix for this one

[2016-02-18 11:12] Linuus opened #177 "Slow rendering of table rows & cells"
If you render a lot of rows on an index page it is super slow.

Not sure if it is the Rails default partial rendering that is slow or if it is that we do a lot of checks for partials for each table cell or something... We should check if it is possible to speed it up though!

[2016-02-18 11:14] Linuus opened #178 "Move policy class decision to service object."
Currently we need to define a `policy_class` method in the model. It should probably be in the service object instead.

[2016-02-18 14:26] jensljungblad commented on #178
This is a duplicate of https://github.com/varvet/godmin/issues/87

[2016-02-18 14:27] #178 closed

[2016-02-18 14:29] jensljungblad commented on #177
I've been thinking that we could replace the partial locating stuff by creating small wrapper objects for columns and filters so that Rails can render the partials based on that somehow.

[2016-02-19 12:25] jensljungblad opened #179 "Hide batch action toggle when no batch actions available"
When using `only` or `except` to scope batch actions, and there are no batch actions for a particular scope, the toggle button and check boxes are still displayed.

[2016-03-03 21:51] jensljungblad commented on #177
I looked into this a bit recently and I'm not sure why I though ActiveModels worked the same as ActionController when it comes to rendering and inheritance. They don't... And the controllers pretty much do what we do in case of inheritance. It does a lookup using the lookup context. Our problem is that we do loads of those.

So my new idea is that we should cache the result of the partial lookup c

[2016-03-03 21:57] jensljungblad commented on #23
Closing due to inactivity

[2016-03-03 21:57] #23 closed

[2016-03-03 21:57] jensljungblad commented on #38
Closing due to inactivity

[2016-03-03 21:57] #38 closed

[2016-03-03 21:57] jensljungblad commented on #52
Closing due to inactivity

[2016-03-03 21:57] #52 closed

[2016-03-03 21:59] jensljungblad opened #181 "Add support for namespaced models to the resource generator"
This is what remains of https://github.com/varvet/godmin/issues/57.

Namespaced models are supported, but cannot be generated using the `resource` generator. The rails `resource` generator can create namespaced models, controllers and routes if passed a name on the form `foo/bar`. We should support this too.

Perhaps we can hook into rails generators?

There is a rails generator for creating route

[2016-03-03 22:00] jensljungblad commented on #57
Closing due to inactivity

[2016-03-03 22:00] #57 closed

[2016-03-03 22:04] jensljungblad opened #182 "Policy lookup fails with namespaced models"
Currently you need to implement `policy_class` on all namespaced models in order for the `PolicyFinder` to find the correct policy.

For instance:

[code]

This has been discussed in https://github.com/varvet/godmin/issues/87 and https://github.com/varvet/godmin/issues/178

It also concerns https://github.com/varvet/godmin/issues/122

[2016-03-03 22:05] jensljungblad commented on #87
Discussion moved to https://github.com/varvet/godmin/issues/182

[2016-03-03 22:05] #87 closed

[2016-03-03 22:11] jensljungblad commented on #122
Closing

[2016-03-03 22:11] #122 closed

[2016-03-08 08:43] #157 closed

[2016-03-08 08:46] jensljungblad commented on #154
I've got nothing against adding ajax stuff in principal. But I think we need to look at this for a particular feature. Feel free to open PR:s!

[2016-03-08 08:46] #154 closed

[2016-03-08 09:46] jensljungblad commented on #153
Closing due to inactivity

[2016-03-08 09:46] #153 closed

[2016-04-04 06:32] fighterii opened #193 "Rails 5 support"
Hey, i can't find any information on that, so i'll open this as new issue.

We are currently upgrading to rails 5, and encountered this issue, that godmin won't work with rails 5 at the moment.

First of all, the gemspec file specifies
`gem.add_dependency "rails", "~> 4.0"`
which excludes rails 5.

After i changed this by myself, to get my app working, godmin works and all the tests are passing, b

[2016-04-04 06:37] Linuus commented on #193
Hi!

Yes, we haven't tested it with Rails 5 yet... Should probably do that soon! :)

Linus Pettersson

On mån 04 apr. 2016 at 08:32 fighterii

<
mailto:fighterii <notifications@github.com>

Hey, i can't find any information on that, so i'll open this as new issue.

We are currently upgrading to rails 5, and encountered this issue, that godmin won't work with rails 5 at the moment.

First of all, t

[2016-04-04 07:59] fighterii commented on #193
Additional information:

besides the deprecation warnings on Rails 5 godmin won't work with the following error:
`Generating a URL from non sanitized request parameters is insecure!

this happens both for manually trying to view a page and in my cucumber features

[code]

[2016-04-05 07:25] fighterii commented on #193
You can skip the error by adding
`config.action_controller.permit_all_parameters = true` to your `config/application.rb` , but this is obviously no good solution or recommended!

Furthermore the Buttons on the New and Edit Page `Create User` and `Update User` are now not correctly named, which causes some Cucumber Features to fail. On Rails 5 the buttons are labeled `Update user` / `Create user` ,

[2016-04-07 05:41] neves commented on #177
Much better, but still slow in development.
This is the log for 100 records:
[code]

Now I removed all code from _actions.html.erb, but keeping the partial call in _table:
[code]

Now I moved the code from from _actions to _table (inline, no partial)
  `Rendered resource/_table.html.erb (860.0ms)`

So the rails partial itself is slow for hundreds of tiny partial bits, like action buttons.

At last

[2016-04-07 07:38] jensljungblad commented on #177
Thanks for benchmarking this. Yeah we're open to other ways of customizing things. Right now we mostly use partial overrides but we've thought about using presenters as an alternative.

I'll just re-open this issue for now.

[2016-05-08 22:17] jensljungblad opened #194 "The translated title should be displayed when logging in"
In the `login` template, the correct translated title is currently not being displayed.

[2016-05-30 07:39] chemzqm opened #196 "Can't find my own User model due to override"
![](http://7b1fwt.com1.z0.glb.clouddn.com/Screen%20Shot%202016-05-30%20at%203.36.10%20PM.png)
Is it possible to find my own User model so I can call the `find_by` method?

[2016-05-30 10:18] Linuus commented on #196
Try `::User.find_by...`

[2016-06-22 11:56] #194 closed

[2016-06-22 11:59] jensljungblad commented on #196
Closing due to inactivity

[2016-06-22 11:59] #196 closed

[2016-07-04 11:15] adimasuhid opened #198 "Switch to Bootstrap 4"

[2016-07-04 11:43] adimasuhid commented on #193
Will also get fixed by updating the table helpers, though might not be the best solution:
[code]

[2016-07-05 06:54] jensljungblad commented on #193
Will hopefully get around to fixing this next week if no one beats me to it

[2016-07-08 08:10] #179 closed

[2016-07-08 12:09] jensljungblad commented on #198
Well, Bootstrap 4 is still in alpha, so we're not gonna work further on this until at least beta. But there is an early PR if you're interested: #138

Closing for now

[2016-07-08 12:10] jensljungblad commented on #198
Or I guess we can leave it open, since we intend to do this eventually...

[2016-07-08 13:12] #161 closed

[2016-07-11 13:31] #193 closed

[2016-09-13 07:56] tskogberg opened #201 "The demo app is in a broken state"
The demo app that you link to in the readme is in a broken state.

[2016-09-13 07:57] Linuus commented on #201
@tskogberg Thank you for the report!

@kindell Can you have a look at this if/when you have time?

[2016-09-15 13:39] kindell commented on #201
I have no time and not enough mad skillz 😬  Latest commit by @jensljungblad, you know what might have happened?

[2016-09-16 06:24] jensljungblad commented on #201
I think it may have something to do with Rails 5. But I won't have time to look at it for some time i think.

[2016-09-16 07:33] Linuus commented on #201
I can fix it after the weekend 😊

Linus Pettersson

On fre 16 sep. 2016 at 08:24 Jens Ljungblad

<
mailto:Jens Ljungblad <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

I think it may have something to do with Rails 5. But I won't have time to look at it for some time i think.

—

You are receiving this because you commented.

Reply to this email direc

[2016-09-16 07:34] Linuus commented on #201
Sorry I missed Jens comment.

[2016-09-23 07:21] jensljungblad commented on #201
@Linuus did you have time to look at this? It's broken again!

[2016-09-30 05:40] eahlberg commented on #201
It seems like the demo app has stopped working again.

[2016-09-30 05:42] Linuus commented on #201
Yep. I thought I fixed it but it still breaks after the daily reset.

[2016-09-30 14:53] Linuus commented on #201
I think I've solved this again... We'll know for sure after the next reset :)

What I did was to run:
`heroku config:set DISABLE_DATABASE_ENVIRONMENT_CHECK=1`

To make Rails ignore that we're in a "production" env.

Closing this and we'll reopen if it breaks again.

[2016-09-30 14:53] #201 closed

[2016-10-17 22:12] jersingh opened #203 "General support"
I'm using Godmin for my administration backend for a project here at New Mexico State University in the USA.

I have several question and issues that reading through the documentation doesn't resolve for me.

Can I post questions here or is there a better means to post support questions such as Stack Overflow?

Thanks,
Joe

[2016-10-18 07:18] Linuus commented on #203
@jersingh It's ok to post here for now. :)

[2016-10-31 20:12] Linuus commented on #203
@jersingh Did you have any questions or can I close this issue?

[2016-11-01 22:58] jersingh commented on #203
Hi Linuus,

Why don't you go ahead and close this ticket. I'm working on another part of the app but plan to get back to the admin section.

If it's OK, I'll just open a new issue when I come across questions. Is that OK?

[2016-11-02 07:44] Linuus commented on #203
Sure! Just open another issue if any questions come up.

[2016-11-02 07:44] #203 closed

[2016-11-24 09:59] jensljungblad opened #204 "Template problems with Rails 5"
Seems like something changed in Rails 5 that creates new Ruby processes for every generate command. When running the template things hang after a while, probably because processes compete with each other or something.

[2016-11-25 10:10] Linuus commented on #204
I added an issue with a minimal test case at the rails repo for this.

https://github.com/rails/rails/issues/27178

[2016-11-25 10:22] Linuus commented on #204
Aaand, it's of course related to your old issue @jensljungblad

https://github.com/rails/rails/issues/21700

[2016-11-28 23:20] jensljungblad opened #205 "Scope or filter queries which group does not work"
`Relation#count` returns a hash when called on a `Relation#group`, as described here: http://api.rubyonrails.org/classes/ActiveRecord/Calculations.html#method-i-count.

The following method in the `Paginator` crashes when given such a relation:

[code]

[2016-11-29 08:47] jensljungblad opened #206 "Not authenticated alert not localized, and also annoying"
This thing is not localized:

[code]

But also, I find it annoying. It's always shown basically, because you never go directly to the login page. Rather you try accessing `/admin` or something, which then triggers the above code which redirects to the login page with a message. My suggestion would be to just skip the message entirely. It's kinda obvious you need to login when you are redirected to

[2016-11-29 13:31] Linuus commented on #206
That code doesn't redirect you, does it? It just shows the text. In my opinion it's a good enough default. If a user wants something else to happen they can create their own `rescue_from`, right?

[2016-11-29 13:51] jensljungblad commented on #206
Yeah sorry no redirect. But couldn't we just skip the text?

[2016-11-29 13:59] Linuus commented on #206
But this text is not shown on the login page, ever :)

[2016-11-29 14:02] jensljungblad commented on #206
Oops, wrong code. Fixed.

[2016-11-29 14:02] Linuus commented on #206
I think you're talking about the authentication stuff.

https://github.com/varvet/godmin/blob/8bdd87cfb100927c16863baae53690c589b281cd/lib/godmin/authentication.rb#L15-L19

I'm fine with removing that text.

[2017-02-01 12:04] ingemar opened #209 "Admin user class not reflected in session controller params"
Param name should be derived from `admin_user_class`.

[code]

[2017-02-01 17:17] jensljungblad commented on #209
True that

[2017-02-15 10:19] #209 closed

[2017-02-15 10:30] #206 closed

[2017-02-15 13:07] #205 closed

[2017-02-15 14:02] jensljungblad opened #213 "Switch to Bootstrap 4"
Bootstrap 4 is still alpha, but once released, we want to upgrade. Some things that will need to be fixed:

- Replace the Bootstrap gem
- Upgrade to jQuery 2
- Fix form builder to generate new Bootstrap 4 markup
- Style selectize drop downs to fit with Bootstrap 4
- Style date pickers to fit with Bootstrap 4
- Remove support for icons in the menu, or bundle another icon pack

[2017-02-15 14:02] jensljungblad commented on #198
Closing in favour of https://github.com/varvet/godmin/issues/213

[2017-02-15 14:03] #198 closed

[2017-02-16 14:58] jensljungblad commented on #165
Closing this for now. We'll probably think more about this stuff in a future version though.

[2017-02-16 14:58] #165 closed

[2017-02-16 16:50] benjamin-thomas commented on #165
Hi @jensljungblad

I've been exploring this project this week: http://projects.sergiodinislopes.pt/flexdatalist/

There's a `chainedRelatives` feature as well as very easy ajax calls right out of the box.

Although there's a slight overlap in functionality with selectize, I feel it may make a nice addition to godmin in the future.

Food for thought...

[2017-02-16 20:10] jensljungblad commented on #165
Looks interesting! I'll def check it out.

[2017-02-17 06:14] benjamin-thomas opened #215 "Templates should follow routes file"
Suppose I declare a resource as such in my routes file:

    resources :latest_posts, only: [:index]

Then those 2 partials cause an exception:

- app/views/godmin/resource/_button_actions.html.erb
- app/views/godmin/resource/columns/_actions.html.erb

Internally, `link_to` calls `url_for` and generates a route that does not exist for new, edit, show, and triggers the exception.

For now, I've wor

[2017-02-17 09:49] jensljungblad commented on #215
Hm, that might be doable. Never needed it but not opposed to it if it could be done in a nice way. There's `Rails.application.routes.url_helpers.respond_to?(:some_path)` which might work.

[2017-02-17 12:00] #85 closed

[2017-02-17 19:04] benjamin-thomas commented on #215
I can't see a clean way to do it.

The main problem starts from `link_to` calling `url_for` [which is itself super complex](https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/action_dispatch/routing/url_for.rb#L150).

Digging into it's internal to find a way to generate a method name's symbol was fruitless for me.

It seems there's no good way to probe for a route method name for `Rails

[2017-02-17 20:00] benjamin-thomas commented on #215
So I kept digging and this seems to work (ok to copy-paste in the rails console)

[code]

That would have to be wrapped in a helper method, the delete routes would still be a problem though.

[2017-02-21 09:46] jensljungblad commented on #204
This can be worked around by passing `--skip-spring` as an option.

[2017-02-21 10:10] jensljungblad opened #217 "Rename resource service"
The name of the class. It was always a bit of a last resort. Perhaps we can go with Dashboard, which is also used by Administrate.

[2017-02-21 10:12] jensljungblad opened #218 "Rethink resource service DSLs"

[2017-02-21 10:13] jensljungblad opened #219 "Clarify the roles of resource service `resources_relation` and `resources`"

[2017-02-21 10:20] jensljungblad opened #220 "Remove the use of resource controller instance variables for passing things down to the view"
We're thinking about using locals instead, which perhaps feels cleaner.

[2017-02-21 10:30] jensljungblad opened #221 "Look at if extending modules is still preferable to inheriting from classes"
Take a good hard look at if extending modules is still preferable to inheriting from classes. The file resolver has been the cause of much pain.

[2017-02-21 10:32] jensljungblad opened #222 "Look at if Yarn and Webpack can be used when Rails 5.1 is released"
Crazy idea, but Rails 5.1 will ship with Yarn and Webpack. What does that mean for gems? Could we build on top of that? What about React? Better datepickers and selectboxes would be available. Integrating with Rails could be troublesome though...

[2017-02-21 10:34] jensljungblad opened #223 "Rethink view customization"
Our partial overrides are still slow when you have a lot of records. We've discussed other ways to customize how data is presented. There's presenter objects, and there's what Administrate does with field types.

Currently the way you customize how a resource's data is presented is by overriding column partials, by placing a file in `views/articles/columns/_title.html.erb`:

[code]

This is implem

[2017-02-21 10:35] #213 closed

[2017-02-21 10:37] jensljungblad opened #224 "User interface redesign"
Should we upgrade to Bootstrap 4, switch to something else or build our own UI components? Either way we will have to fix things such as our form builder, any bundled UI components such as datepickers and selectboxes etc.

This decision should be based on what type of interface we want to build, obviously.

[2017-02-21 10:43] jensljungblad opened #225 "Logo and website"
Create fancy logo and website. What should be on the website?

[2017-02-21 12:14] jensljungblad commented on #177
See #223

[2017-02-21 12:14] #177 closed

[2017-02-21 12:25] jensljungblad opened #226 "Allow skip authorization per controller action"
Authorization should perhaps work similar to authentication, in that you can skip it per controller action.

Currently authentication and authorization is implemented by including modules:

[code]

Authentication can be disabled per controller/action by doing:

[code]

Authorization can not be disabled. We could enable this in a similar way. Perhaps we could do something like this:

[code]

These

[2017-02-21 12:29] jensljungblad opened #227 "Simplify dependency managment in engine installs"
Can we simplify Gemfile vs .gemspec when installing in an engine? It should at least be possible to automatically require all things specified in the .gemspec file.

Here's an example of requiring all runtime dependencies:

[code]

However, this does not handle gems such as `godmin-tags` that needs to require a file called `godmin/tags`. How does bundler handle this?

[2017-02-21 12:35] jensljungblad opened #228 "Better sandbox deployment"
Can we extract sandbox deployment from the gem? Also, can we make it deploy the most recent version instead of having to specify it manually? Could we pass the version of godmin to the template? Could we use Travis to deploy the sandbox on every push to master?

[2017-02-21 13:19] jensljungblad opened #229 "Better policy lookups for namespaced models + Pundit"
There are currently some problems with namespaced models and policies, especially in engine installs.

`ResourceService#resource_class_name` runs `demodulize` on the class name. That means if you have an `Admin::Article` model, the `Admin::ArticleService` will not find it, because it will resolve to `::Article` instead.

Similarly, the `PolicyFinder` adds the namespace twice for namespaced models

[2017-02-21 13:20] jensljungblad commented on #182
See #229

[2017-02-21 13:20] #182 closed

[2017-02-21 13:23] jensljungblad commented on #204
This is a Rails issue. Closing.

[2017-02-21 13:23] #204 closed

[2017-02-22 15:13] Linuus commented on #218
I like the one where we use classes for each filter. I'll experiment a bit today and see what I can come up with.

Perhaps it's hard to just keep `FILTERS` as an array, we may need to do something like:

[code]

The reason for this is when we apply the filters we need to know what filters to run. Well, we don't _need_ to know that, we can just call all filters, always, but then each filter needs t

[2017-02-22 20:46] jensljungblad commented on #221
If there would always be a `ResourceController`, generated by the installer, would that solve basic overriding? We tend to always create such a class anyway because we want shared behaviour for all resource controllers.

[2017-02-22 20:51] jensljungblad commented on #218
Could the `Filter` classes implement a `to_param` or something? I guess for a filter such as `Filter::Title` we just want it to map to `title`, but yeah it's trickier if we want to ship pre made filters. So `Godmin::Filter::Text.new(column: :title)` would also need to map to `title`.

I don't think this is terrible though:

[code]

[2017-02-23 08:04] Linuus commented on #218
This looks a bit inconsistent to me:

[code]

Also, this means we'd mix instances and class constants in the list which is a bit annoying... We would need to check what to instantiate and not.

Sure, we could do

[code]

And then pass `:title` to the filter when instantiating it (and `:author` to Author) in Godmin.

However, if we want to be able to pass options to a filter it gets weirder... In A

[2017-02-23 08:22] jensljungblad commented on #218
What types of options would you want to pass?

Also, would it make sense to think about scopes and actions as well? Do we want the interface to be the same for those? Feels like it would be nice if they all worked pretty much the same. Maybe event if we add attribute types like administrate has. If they need a `with_options` anyway, perhaps it would be consistent if filters use the same syntax?

[2017-02-23 08:32] Linuus commented on #218
I don't know :) There are probably a lot of cases where you'd want to pass options. Especially if you create a more general filter.

Example:

[code]

Also, I guess these objects would be responsible for the options for the actual html fields, right? So we'd need to be able to pass those as well (`include_blank`, `option_text` etc).

[2017-02-23 13:39] jensljungblad commented on #218
Our current thought is that the same syntax could be used for scopes and filters as well. Something like:

[code]

[2017-02-23 18:29] jensljungblad commented on #227
https://github.com/bundler/bundler/commit/a0d97c4eaecee05e483d07542e6cf0f3407b53a0

[2017-02-23 19:49] jensljungblad opened #230 "Template cannot be run without the correct ruby version installed"
The template for generating a sample application requires a specific ruby version to be installed. This is because we use the template to generate the sandbox application that is deployed to Heroku.

[2017-02-23 19:59] jensljungblad commented on #227
This kinda works, but not sure if it should be part of this gem or if this is something people could add if they don't like manually requiring gems in their engines...

[code]

[2017-02-24 08:17] Linuus commented on #227
Hmm I don't think we should att it by default... At least not until we've tried it a bit more ourselves first :D Perhaps it can just be documented in the readme or something for now?

Making it a manual process to require gems would also be a good fit for our "less magic" philosophy. We should probably document that the user must require gems manually in the readme as well. Even if it's not godmin

[2017-02-24 08:21] jensljungblad commented on #227
Yeah I guess the difference is that its a Rails convention to automatically require gems. People who just build Rails apps are not familiar with other setups. Rails kinda hides the fact that they use `Bundler.require` in a config. If you're a Ruby programmer first you know all about requiring dependencies, but if you've only been doing Rails, not so much. And when we suggest people use engines we

[2017-02-24 08:33] Linuus commented on #227
Sure, but everyone who uses engines already will be confused that they _don't_ have to require? :) That's probably less people though. Maybe we should nudge people in the right direction and move away from auto require.

Are there still gems that don't follow this naming convention? If so, it would be confusing to have to require those manually for no apparent reason. But perhaps there are no such

[2017-02-24 08:39] jensljungblad commented on #227
Anyone who knows they'll have to require dependencies will open that file in order to require the dependency. Will then see that piece of code and a comment explaining what it does, and can choose between keeping it or removing it in favour of manually requiring. I guess? Thing is we can't really move away from auto require, since we can't change the fact it's on by default in Rails, for the main

[2017-02-24 08:53] Linuus commented on #227
I meant if some gems do something even weirder.

gem: `foo-bar-baz`
File to require is `lib/foo/bar_baz.rb`

That would not be caught by the require above. It would blow up in bundler as well, unless they have more code to handler even weirder stuff :D

Yes, I know it'll be a difference between engine installs and standalone. But other things are different as well. The `.gemspec` for instance. Why

[2017-02-24 09:44] jensljungblad commented on #226
Added some code to test this here: https://github.com/varvet/godmin/pull/231

[2017-02-25 07:51] benjamin-thomas commented on #218
I'd like to give my feedback if you're interested.

I'm all for less magic, but I found your use of metaprogramming very easy to understand (and I hardly ever use metaprogramming in my own code).

From my point of view, filters and scopes represent the right use case for metaprogramming and reduce boiler plate.

I personally found the administrate gem way too stiff and found your gem much nicer an

[2017-02-27 08:29] jensljungblad commented on #227
Yeah I think `Bundler.require` would explode with that example as well.

Well, `Bundler.require` is something that Rails adds, it's not something that's included for every Ruby application. So I guess Godmin could do something similar with engines. But I agree, I'm not sure about this one!

[2017-02-27 08:41] jensljungblad commented on #218
@benjamin-thomas Thanks! Yeah we definitely want feedback on these things. We're still basically experimenting and exploring different ideas.

I agree that our usage of macro methods is not a big problem. Although there is something to be said about the fact that it complicates the Godmin code, and makes it more difficult to understand for people who want to look at it.

As for administrate, I lik

[2017-03-02 17:53] rubendinho opened #234 "Is it possible to use postgres instead of sqlite3 in engine setup?"
I am setting up Godmin using the engine route but am getting the below error running `admin/bin/rails bundle install`

[code]

My project uses postgres and I'd like to avoid bundling sqlite3 if possible.

[2017-03-03 00:37] jensljungblad commented on #234
That's weird. It's probably referring to the development dependency in your `admin/admin.gemspec` which reads `s.add_development_dependency "sqlite3"`. It's something Rails adds and uses for the dummy app that gets created along with your engine, to be used for tests.

The error says that the gem couldn't be found, which is weird. I assume you still have `source 'https://rubygems.org'` in your Gem

[2017-03-03 02:44] rubendinho commented on #234
I fall in the category of people discussed #227 who are still getting their bearings around non-Rails uses of Bundler.  I ended up having to install the gem manually to bypass the warning. Thanks.

[2017-03-03 02:44] #234 closed

[2017-04-14 09:54] benjamin-thomas commented on #218
Hello @jensljungblad

Sorry for the (really) late feedback.

Thanks for your suggesting including the Concern module, much better!

As far as testing goes, I think an integration test is the way to go, but I have to admit I'm not a very diligent tester (in the TDD sense).

Testing a filter would feel like testing a controller or route, I'm not sure much is gained by testing what I feel is more an

[2017-04-20 08:55] jensljungblad commented on #218
No worries!

Yeah we definitely want to keep Godmin simple and easy to override using standard Ruby and Rails practices, that's why we built it in the first place. We'll keep discussing these things here, once we get back to it.

[2017-04-25 08:16] juliaramstedt opened #235 "Sandbox installer fails for Engine installation"
When running the Sandbox installer
[code]

with the engine installation option, I get the following error:

[code]

[2017-04-25 14:36] juliaramstedt commented on #223
In order to change anything about the way Godmin displays a resource's attributes, partials have to be overridden e.g. views/a_resource/columns/_an_attribute.html.erb. Overriding one of these partials affects the attribute's display on both index.html.erb and show.html.erb. On the partial, you have access to the resource through the variable name "resource" and functions can be applied to it.

Adm

[2017-04-25 14:54] Linuus commented on #223
Just a note, both of the Godmin examples above can be done without overriding views. The symbols passed to `attrs_for_index` are called as methods on the resource so you can define whatever you want there.

`attrs_for_index :title, :author_name`

Then define the `author_name` method on your own class. The same goes for the other example. It's really only when you need more complex UI stuff that yo

[2017-04-25 15:16] Linuus commented on #223
Also, doesn't it already work with single association if it defines a `to_s` method?

[2017-04-25 15:31] jensljungblad commented on #223
Good point, forgot that it calls the method that way. Perhaps we should put that in the readme? Is that good enough then or do we have other reasons for introducing say a presenter?

I too think renaming the column folders would be good. Either fields or attributes. Not sure we really need the ability to customize based on index or show, like Administrate. Seems rare and it's possible now by check

[2017-04-25 15:34] jensljungblad commented on #223
I think we removed support for associations in columns, and linking to the associated record, but I could be wrong. Would be good to have though, as well as support for has many.

[2017-04-25 15:35] Linuus commented on #223
Yes we removed the automatic linking of associations but they should print ok though? :)

[2017-04-28 09:18] jensljungblad commented on #223
I guess one reason for manually specifying types would be performance? Our previous solution for checking what type a certain field was involved reflection, I think. It's what we do in our form builder as well. Manually specifying types, while a bit cumbersome perhaps, would mean we could skip reflection when generating the forms, and for when we want to render an attribute in the table or on the

[2017-06-15 07:29] benjamin-thomas opened #236 "Bypass before_action methods"
Could be related to issue #220.

---

Hi,

I've used your gem for quite a while now which I still find great.

Sometimes however, I may need to to completely override the controller's new and create methods, but not edit, destroy, etc.

I find it pretty difficult and clumsy to workaround the [before_action methods that get in the way](https://github.com/varvet/godmin/blob/b06229cc0bafd1ffb188cf5b9

[2017-09-13 09:17] Linuus opened #237 "around actions doesn't work with batch actions"
If you have an around_action in your controllers, they won't work with batch actions since they redirect which halts the filter chain.

Example:
[code]

This will not be run when running a batch action.

[2017-09-15 11:32] Linuus opened #238 "All _id params are treated as parent resources"
If you add a parameter to a form/url Godmin tries to find a parent resource and scope the resource to that.

1. We need to check that it is actually a parent
If you add `blorgh_id` to the params now it will blow up trying to constantize this string.

2. If there is an association with this name it will try to scope it, but you may not want to.

[2017-11-15 18:13] jensljungblad opened #240 "Drop support for Rails 4"
Drop support for Rails 4 going forward.

[2017-11-15 19:09] jensljungblad commented on #229
I think we should go ahead with this. More files doesn't really matter. Plus it provides a nice default place to put admin specific logic.

[2017-11-15 19:50] Linuus commented on #240
Why?

[2017-11-15 20:25] jensljungblad commented on #240
Mainly I was thinking so we can use Rails 5 features such as yarn and webpack. Also take advantage of Ruby 2.2.2. And also because this is probably the only opportunity we will have to do it :) I doubt we will finish 2.0 anytime soon as well, so apps have plenty of time to upgrade, if they even want to upgrade to the new godmin.

[2017-11-20 20:28] jensljungblad commented on #235
Cannot reproduce. Is this still an issue @juliaramstedt ?

[2017-11-20 20:29] jensljungblad commented on #230
I think this should be solved as part of https://github.com/varvet/godmin/issues/228. If we can decouple sandbox deployment from the template, that would solve this issue.

[2017-11-21 22:39] jensljungblad commented on #221
I experimented a bit with this and tried the following:

[code]

[code]

[code]

This works for template overriding without the need of a custom resolver. Godmin templates are found by apps and engines, and app templates override the Godmin templates.

As for partial overriding, it's trickier. If we render partials from the same folder, e.g. `godmin/resources/index.html.erb` wants to render `godmi

[2017-11-22 16:44] jensljungblad commented on #221
Another alternative would be to skip the `resources_controller` entirely and move all of that functionality to the `application_controller`. That would cater more towards the 80% use case and not be as much "just a rails app" as what we have now. It would solve the inheritance problem, however:

`application_controller < godmin::application_controller < action_controller::base`

[2017-11-22 17:36] jensljungblad commented on #223
If we want to get away from partial overriding because of #221, this could be one way.

**Case 1. You only want to tweak the attribute value slightly**

We could do this like we do now, by delegating calls to the model:

[code]

Or by generating a presenter:

[code]

Something like this is much faster than doing a partial lookup, so makes sense for smaller changes. Perhaps it is slightly confusing

[2017-12-12 09:30] #181 closed

[2017-12-12 09:30] #229 closed

[2017-12-12 12:41] #240 closed

[2017-12-12 12:50] #226 closed

[2018-02-13 11:04] jensljungblad commented on #227
Okay, here's another idea. Let's just not add dependencies to the gemspecs at all? We could stop promoting the practice of putting godmin in `admin/admin.gemspec` in favor or placing it in `Gemfile`. You get autoloading, and in projects with multiple admin engines, you don't have to specify the same dependencies over and over, having to keep track of the versions etc.

Keeping dependencies in an e

[2018-02-14 08:21] jensljungblad commented on #227
Well, I had some memory that one reason we did this was so that engine binstubs, `admin/bin/rails`, would find the godmin generators. I tested this briefly yesterday and there was no problem, but we should probably test this on a project first.

[2018-08-30 11:37] teoljungberg opened #245 "Rename `*.css.scss` files to `*.scss`"
The former seems to be deprecated, according to a stracktrace I found in a Rails app:

[code]

[2019-09-09 12:14] benjamin-thomas opened #246 "Inject default filter values"
Hi, I'd like to document this need, in the `README` if that's ok with you?

It seems this would be the best approach, what do you think?

[code]

With one possible downside being the URL would not reflect the filters state. In that use case a redirect from `index` would be more appropriate.

[2019-09-09 15:22] jensljungblad commented on #246
Interesting.. Perhaps rather add a `default` option to the `filter` DSL? And grab the default as the filter value unless one is set.

[2019-09-11 01:49] rubendinho opened #247 "Support Rails 6"
Are there plans to add support for Rails 6?

[2019-09-11 05:56] benjamin-thomas commented on #246
Yes adding on option to the DSL would make things simpler and more readable. I'm not sure if that's enough of a common use case though?

I'd like to work on this if you feel the DSL could be extended?

As a first step, I'd like to contribute setting up a docker based development environment.
What do you think?

[2019-09-13 13:27] jensljungblad commented on #247
You can clone godmin, then point to that directory in your `Gemfile`:

[code]

Once you've done that, you can change godmin's gemspec and remove that constraint.

@Linuus I don't remember why we have this constraint in the first place.. Would it be better to just remove the upper constraint?

[2019-09-13 13:29] Linuus commented on #247
@jensljungblad I think it's mainly a safe guard to not accidentally allow major changes.

[2019-09-16 00:37] jensljungblad commented on #246
Yeah now that I think about it, perhaps it is better to implement this with a redirect? https://api.rubyonrails.org/classes/ActionDispatch/Routing/Redirection.html. That way the URL will, as you say, reflect the filter state. And yeah it doesn't seem like a common use case so perhaps extending the DSL doesn't make sense.

[2019-09-16 00:48] jensljungblad commented on #247
@rubendinho I don't think I will have time to look into this any time soon, but if you (or perhaps someone at Varvet, @johanhalse) wants to create a PR, please feel free. We also make use of https://github.com/thoughtbot/appraisal, so hopefully it's pretty easy to run the test suite for Rails 6 as well.

[2019-09-16 15:21] johanhalse commented on #247
The test suite is easy enough to run, but something about Resolvers seems to have changed between 5.2 and 6. I've done some initial digging and the `find_templates` function in `resolver.rb` isn't being run when it's supposed to in Rails 6. Documentation there isn't great and I can't find anything in the changelog.

[2019-09-16 17:34] Linuus commented on #247
Yeah... it looks like they’ve changed the resolver stuff a bit. Ugh... I have nightmares about these resolvers 😆

[2019-09-16 18:40] jensljungblad commented on #247
Oh man, yeah that sucks. It was always the most annoying part of Godmin :/

[2019-09-17 08:14] johanhalse commented on #247
Good news though, I have a PR to fix it! https://github.com/varvet/godmin/pull/248

The tests all pass but are there any obvious red flags? I haven't worked on the Godmin resolvers before so I'm not super confident.

[2019-09-18 05:40] #235 closed

[2019-09-18 12:19] jensljungblad commented on #247
Hm, I don’t think so. If the tests pass and the dummy app looks okay, I’d say that’s good enough. You can run the dummy app with ‘test/dummy/bin/rails s’ if you want to poke around.

[2019-09-25 16:07] benjamin-thomas commented on #246
I've submitted a wiki page: https://github.com/varvet/godmin/wiki/Tips-and-tricks-(hacky)

It didn't come to me straight away that those kind of tricks could be used with `godmin`, so I can imagine this being useful to someone else.

Before considering framework design/requests. I could probably add a few more ideas. What do you think?

[2019-10-16 21:29] jensljungblad commented on #246
Haha, that's a cool filter :D Never even entered my mind that was possible.. Good job :)

Yeah, a Wiki page seems like a nice idea.

[2019-10-16 21:29] #246 closed

[2019-11-27 08:36] mbajur commented on #247
Any chances to publish a new gem version with rails 6 support anytime soon? :)

[2019-11-27 10:19] mbajur commented on #247
Ok, PR ready for a review and merge ✅

[2019-11-28 12:57] jensljungblad commented on #247
@mbajur Merged. Feel free to try it out for a bit. If everything seems fine we can close this issue and release a new version.

Thanks!

[2019-11-28 14:33] mbajur commented on #247
@jensljungblad i am actually actively using my branch for last 2 days and it seems to be working perfectly fine. Consider it as a confirmation everything is good with rails 6 :)

[2019-12-06 19:51] jensljungblad commented on #247
Looks like @johanhalse released it! 🎉

[2019-12-06 19:51] #247 closed

[2019-12-31 03:22] rubendinho opened #251 "Godmin 2.0 model namespacing breaks nested resources"
After upgrading to Godmin 2.0, I'm not able to edit or show resources with nested resources:

Specifically, there is an issue within `_breadcrumb_actions.html.erb` that is not properly looking up the Pundit policies for the nested resource.

https://github.com/varvet/godmin/blob/3334ff04c20826ca2ac5e055f0deb43d53e091a7/app/views/godmin/resource/_breadcrumb_actions.html.erb#L31-L38

This line: `<%

[2020-09-11 15:54] dgmstuart opened #252 "`admin/bin/rails generate godmin:install` fails: "admin/application.js does not appear to exist""
While following the setup instructions, and running `admin/bin/rails generate godmin:install` on a Rails 6 application, I get the following error:

[2020-09-11 16:02] dgmstuart commented on #252
This is because in Rails 6 this has moved to `app/javascript/packs/application.js`

[2020-09-11 20:25] dgmstuart commented on #252
Or... actually the rails engine no longer generates any javascript assets at all...

[2021-02-07 18:37] condef5 opened #253 "Update pundit to last version"
Hi!, I was working in update an application to rails 6, and I facing a problem with Pundit since we use a 2.0.1.
So I was wondering if I can send a pull request updating the pundit versión :)

[2021-03-26 17:40] emilioeduardob commented on #253
Any luck with this? I saw there's an open PR #254

[2021-04-23 15:13] #251 closed

[2021-05-21 19:13] dgmstuart commented on #253
Resolved by https://github.com/varvet/godmin/pull/260

[2021-05-21 19:13] #253 closed

[2021-10-20 20:00] ccastillop opened #261 "Update Readme authenticate_admin_user"
Rename method `authenticate_admin_user` to `authenticate` as recommended on [the Changelog]( https://github.com/varvet/godmin/blob/master/CHANGELOG.md#200---2019-12-06)

[2021-10-20 20:03] ccastillop commented on #261
Could be fixed with #262

[2022-01-15 09:09] 2rba opened #265 "Rails 7 support"

[2022-05-02 21:12] anderscarling commented on #265
No promises, but I'll do some work investigating this.

[2022-05-03 22:12] brunoprietog commented on #265
Great! Do you think there is any possibility to migrate from sass-rails to dartsass-rails? There is a conflict with having sass-rails and tailwindcss-rails installed. Now using that with importmap in Rails 7.

Thanks!

[2022-05-03 23:11] anderscarling opened #272 "Modern asset handling"
Asset handling in godmin is really old, mostly using the pre-rails-5.1 (see #222) method of pulling in javascript and css through gems.

This method makes it somewhat hard to isolate the versions of dependencies used by godmin from those of the main app (if both uses gems for assets), even though godmin most likely uses a separate .css and .js file. In some cases it also has us stuck on old versio

[2022-05-03 23:11] anderscarling commented on #265
@brunoprietog I'm not sure if using dartsass-rails in godmin is the right way to go (as we probably wouldn't want to force that decision to use dart sass-rails on the apps integrating godmin), but I definitely think it would be a great thing to look over the approach used for css and javascript in godmin.

I have created a separate issue - #272 - for that discussion.

[2022-05-04 13:23] anderscarling commented on #265
Rails 7 support is in master now.

[2022-05-04 13:23] #265 closed

[2022-10-03 08:23] #261 closed